{% extends "base.html.twig" %}

{% block body %}

    <div class="container-flex">
        <div class="note">
            <h1>Notepad</h1>
            <span id="slogan">
                Simple, Fast, Easy in Notepad
            </span>
            <textarea id="noteArea" rows="2" cols="35" placeholder="write a note !"></textarea>
        </div>

    </div>

{% endblock %}